<a href="https://colab.research.google.com/github/2203A52082/2082_DAUP/blob/main/PT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1

In [ ]:
def is_prime(a):
  count=0
  for i in range(1,a+1):
      if(a%i==0):
          count+=1
  if(count==2):
      if(a>200):
          print(a," is a prime number and grater than 200.")
      else:
          print(a," is a prime number and less than 200.")
  else:
      print(a," is not a prime number.")
a=int(input("Enter a number: "))
is_prime(a)
import timeit
time = timeit.timeit("for I in range(1000): I*I", number=1000)
print(f"Execution time: {time:.6f} seconds")

Enter a number: 211
211  is a prime number and grater than 200.
Execution time: 0.039333 seconds

In [ ]:
def remove_duplicates(input_list):
    result = []
    for item in input_list:
        if item not in result:
            result.append(item)
    return result
n = [8,2,3,4,3,3,4,5,6,7,9,2,4]
un = remove_duplicates(n)
print("Original list:", n)
print("List with duplicates removed (order preserved):", un)
import timeit
time = timeit.timeit("for I in range(1000): I*I", number=1000)
print(f"Execution time: {time:.6f} seconds")

Original list: [8, 2, 3, 4, 3, 3, 4, 5, 6, 7, 9, 2, 4]
List with duplicates removed (order preserved): [8, 2, 3, 4, 5, 6, 7, 9]
Execution time: 0.039871 seconds

In [ ]:
c=(7^3)^7
print(c)

3

In [ ]:
a=int(input())
for i in range(1,a+1):
  print(i,end=" ")
  if (i<a):
    print("+",end=" ")
print()

5
1 + 2 + 3 + 4 + 5

In [ ]:
a=int(input())
sum=0
for i in range (1,a+1):
  sum+=i
print(sum)

5
15

In [ ]:
from collections import Counter

lst = [2, 3, 4, 3, 2, 5, 5]
count = Counter(lst)

for num, freq in count.items():
    if freq == 1:
        print(num)

4

# DAY 2

In [ ]:
a = 14>>3
print(a)

1

In [ ]:
a=int(input())
if(a&1==1):
  print("odd")
else:
  print("even")

7
odd

In [ ]:
a = int(input())
if (a // 2) * 2 == a:
  print("even")
else:
  print("odd")

7
odd

In [ ]:
a=int(input())
if(a^1==a+1):
  print("even")
else:
  print("odd")

5
odd

In [ ]:
a=int(input())
if(a^a-1==1):
  print("odd")
else:
  print("even")

4
even

In [ ]:
a=int(input())
s=0
for i in range(1,a+1):
  s=s^i
print(s)

10
11

In [ ]:
a=int(input())
if(a%4==0):
  print(a)
elif(a%4==1):
  print("1")
elif(a%4==2):
  print(a+1)
else:
  print("0")

98
99

In [ ]:
a=int(input())
b=int(input())
s=0
for i in range(a,b+1):
  s=s^i1

print(s)

9
19
8

In [ ]:
def xor(b):
    if b%4==1:
     return 1
    elif b%4==2:
     return b+1
    elif b%4==3:
     return 0
    else:
     return b
a=int(input())
b=int(input())
print(xor(a-1)^xor(b))

9
19
8

In [ ]:
a = int(input())
def is_power_of_two(a):
    if a <= 0:
        return "no"
    while a != 1:
        if a % 2 != 0:
            return "no"
        a = a // 2
    return "yes"
print(is_power_of_two(a))

14
no

In [ ]:
a=int(input())
if(a&(a-1)==0):
  print("yes")
else:
  print("no")

14
no

In [ ]:
print(6^3)

5

In [ ]:
a=[2,2,3,3,4,4,5,6,6,7,7,8,8]
i=0
while(i<=len(a)):
  if(a[i]==a[i+1]):
    i=i+2
  else:
    print(a[i])
    break

5

In [ ]:
def sorted(a):
    for i in range(0,len(a)-1,2):
        if a[i]!=a[i+1]:
            return a[i]
            break
    else:
      return a[-1]
a=[2,2,3,3,4,4,6,6,7,7,8,8,9]
print(sorted(a))

9

In [ ]:
def subsequence(arr):
    l=len(arr)
    c=1
    maxc=1
    for i in range(1,l):
        if arr[i-1]+1==arr[i]:
            c+=1
        else:
            if c>maxc:
                maxc=c
                c=1
    if c>maxc:
                maxc=c
                c=1
    return maxc
arr=[1,2,3,2,3,4,5,6,7,8,9]
print(subsequence(arr))

8

In [ ]:
a=[1,2,3,2,3,4,5,6,7,8,9]
c=1
max=0
for i in range(len(a)-1):
  if(a[i]+1==a[i+1]):
    c=c+1
  else:
    if(c>max):
      max=c
    c=1
if(c>max):
  max=c
print(max)

8

In [ ]:
a="aaabbaaaaacdffe"
c=1
s=''
for i in range(len(a)-1):
    if(a[i]==a[i+1]):
        c=c+1
    else:
        s=s+a[i]+str(c)
        c=1
s=s+a[-1]+str(c)
print(s)

a3b2a5c1d1f2e1

# DAY 3

In [23]:
def even_sum(a,i,sum):
  if(i==len(a)):
    return sum
  if(a[i]%2==0):
    sum=sum+a[i]
    even_sum(a,i+1,sum)
  return even_sum(a,i+1,sum)
a=[2,5,6,7,2,1,4,3,6]
sum=0
print(even_sum(a,0,sum))

20

In [24]:
def even_sum(a,i):
  if(i==len(a)):
    return 0
  if(a[i]%2==0):
    return a[i]+even_sum(a,i+1)
  return even_sum(a,i+1)
a=[2,5,6,7,2,1,4,3,6]
print(even_sum(a,0))

20

In [25]:
n=int(input())
re=0
while(n!=0):
  b=n%10
  re=re*10+b
  n=n//10
print(re)

123
321

In [4]:
def rev(n,re=0):
  if(n!=0):
    b=n%10
    re=re*10+b
    n=n//10
    return rev(n,re)
  else:
    return re
print(rev(54227))

72245

In [5]:
def rev(n,re=0):
  if(n!=0):
    return rev(n//10,re*10+(n%10))
  else:
    return re
print(rev(54227))

72245

In [8]:
n=13
for i in range(2,(n//2)+1):
  if(n%i==0):
    print(n,"is not a prime")
    break
else:
  print(n,"is a prime number")

13 is a prime number

In [16]:
def pr(a,i,count):
  if(i==len(a)):
    return count
  else:
    b=a[i]
    def pri(b,count):
      if(b%i==0):
        count=count+1
      return pri(b//2+1,count)
    return pr(a,i+1,count)
a=[13,17,21,23,22,7,29]
print(pr(a,0,0))

0

In [23]:
def is_prime(n, i=2):
  if n <= 2:
    return n == 2
  if n % i == 0:
    return False
  if i * i > n:
    return True
  return is_prime(n, i + 1)

def count_primes_recursive(nu, ind=0, count=0):
  if ind == len(nu):
    return count
  if is_prime(nu[ind]):
    return count_primes_recursive(nu, ind + 1, count + 1)
  else:
    return count_primes_recursive(nu, ind + 1, count)
nu=[13,17,21,23,22,7,29]
count_primes_recursive(nu)

5

In [32]:
def solve(n,a,b):
    if n == 1:
        return True
    if n < 1:
        return False
    return solve(n-a,a,b) or solve(n-b,a,b)
n = 20
a=3
b=5
print(solve(n,a,b))

True

In [46]:
def solve(n, a, b):
    if n == 1:
        return 0
    if n < 1:
        return float('inf')
    steps_a = solve(n - a, a, b)
    steps_b = solve(n - b, a, b)
    return min(steps_a, steps_b) + 1

n = 20
a = 3
b = 5
min_steps = solve(n, a, b)
if min_steps == float('inf'):
    print("not possible")
else:
    print("Minimum steps : ", min_steps)

Minimum steps :  5